.category-content .card {
    border: oldlace;
    transition: .3s;
}

.category-content a {
    text-decoration: none;
    position: relative;
}

.content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #00000036;
}

.content p {
    margin: 0;
    padding: 4px 18px;
    color: #fff;
}

.top-category {
    background: #E8F3FF;
    padding: 30px 15px;
    margin: 30px;
    border-radius: 5px;
}

.regular-card a {
    text-decoration: none;
    overflow: hidden;
}

.cat-content p {
    color: #333;
    font-size: 14px;
    margin: 0;
}

.cat-content {
    width: 100%;
    height: 45px;
    background: #f5f5f5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
        box-shadow: 2 0 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    text-align: center;
}
