.footer-upper-side {
    background-color: #0071EE;
}

.footer-menu h3 {
    font-size: 20px;
    padding-top: 40px;
    color: #fff;
}
.footer-menu ul{
    padding: 0;
}
.footer-menu ul li {
    list-style: none;
}
.footer-menu a {
    text-decoration: none;
    color: #d7d7d7;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: block;
}

.footer-menu img {
    width: 50%;
    margin-bottom: 5px;
}

.footer-menu ul li a:hover {
    color: #fff;
    margin-left: 10px;
}


.social-media {
    text-align: center;
}

.social-media ul {
    margin: 0;
    padding: 20px 0;
}

.social-media ul li {
    list-style: none;
    display: inline;
    margin: 0px 5px;
    background: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}


.copy-right {
    background: #2B2B2B;
    text-align: center;
    padding: 35px;
}

.copy-right ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.copy-right ul li a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.social-media ul li a i.fa {
    font-size: 17px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.fa-facebook{
    color:#316FF6;
    background: #fff;
}
.fa-facebook:hover{
    color:#fff;
    background: #316FF6;
}
.fa-linkedin{
    color:#0077b5;
    background: #fff;
}
.fa-linkedin:hover{
    color:#fff;
    background: #0077b5;
}
.fa-instagram{
    background: #fff;
    color:#e6683c;

}

.fa-instagram:hover{
    background: #e6683c;
    color:#fff;

}


.fa-pinterest-p{
    color:#E60023;
    background: #fff;
}
.fa-pinterest-p:hover{
    color:#fff;
    background: #E60023;
}

.fa-youtube{
    color:#CD201F;
    background: #fff;
}
.fa-youtube:hover{
    color:#fff;
    background: #CD201F;
}
.fa-whatsapp{
    color:#075E54;
    background: #fff;
}
.fa-whatsapp:hover{
    color:#fff;
    background: #075E54;
}
.fa-skype{
    color:#00aff0;
    background: #fff;
}
.fa-skype:hover{
    color:#fff;
    background: #00aff0;
}
.fa-snapchat-ghost{
    color:#333;
    background: #fff;
}
.fa-snapchat-ghost:hover{
    color:#333;
    background: #FFFC00;
}
.fa-telegram{
    color:#0088cc;
    background: #fff;
}
.fa-telegram:hover{
    color:#fff;
    background: #0088cc;
}
.fa-tumblr{
    color:#35465c;
    background: #fff;
}
.fa-tumblr:hover{
    color:#fff;
    background: #35465c;
}
.fa-vimeo{
    color:#1AB7EA;
    background: #fff;
}
.fa-vimeo:hover{
    color:#fff;
    background: #1AB7EA;
}
.fa-weixin{
    color:#09B83E;
    background: #fff;
}
.fa-weixin:hover{
    color:#fff;
    background: #09B83E;
}
.fa-reddit-alien{
    color:#FF4500;
    background: #fff;
}
.fa-reddit-alien:hover{
    color:#fff;
    background: #FF4500;
}
.fa-quora{
    color:#A82400;
    background: #fff;
}
.fa-quora:hover{
    color:#fff;
    background: #A82400;
}
.payment {
    margin-top: 30px;
    margin-bottom: 40px;
}

.copy-right p {
    color: #fff;
    font-size: 18px;
}

.copy-right p span {
    color: #0071EE;
}

