.navbar-tool {
    display: flex;
    float: left;
    margin-top: 2px;
    padding: 0 7px;
}

.navbar-ttol-icon {
    margin-top: 14px;
}

.navbar-ttol-icon svg {
    margin-right: 5px;
}

.buz-bdr{
    border-left: 2px solid #0052AC;
    border-right: 2px solid #0052AC;
}