a.nav-link {
    font-size: 12px;
    color: #fff;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

.bottom-menu {
    background: #0066D6;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background: transparent !important;
}